[submodule "modules/nDB"]
	path = modules/nDB
	url = https://github.com/herrbasan/nDB.git
[submodule "modules/nui_wc2"]
	path = modules/nui_wc2
	url = https://github.com/herrbasan/nui_wc2.git
[submodule "modules/md-blocks"]
	path = modules/md-blocks
	url = https://github.com/herrbasan/md-blocks.git
